:root{
    --bg-light: rgb(211, 201, 201);
    --bg-dark: rgb(0, 0, 0, 0.2);
    --bg-card-light: rgb(211, 201, 201, 0.7);
    --bg-card-dark: rgb(58, 54, 54);
    --text-color-light: rgb(2, 2, 47) ;
    --text-color-dark: rgb(233, 212, 212) ;
    --light-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 4px 5px 15px rgba(5, 6, 6, 0.4);
}

.light-mode{
    --col-bg: var(--bg-light);
    --col-text: var(--text-color-light) ;
    --col-card: var(--bg-card-light) ;
    --col-shadow: var(--light-shadow) ;
    /* --col-button: ; */

}

.dark-mode{
    --col-bg: var(--bg-dark);
    --col-text: var(--text-color-dark) ;
    --col-card: var(--bg-card-dark) ;
    --col-shadow: var(--dark-shadow) ;
    /* --col-button: ; */
}

h1, h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--col-text);
}
h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: var(--col-text);
}
body{
    background-color: var(--col-bg);
}

.article-card{
    width: 100%;
    background-color: var(--col-card);
}
.card{
    --bs-card-bg: var(--col-card)!important;
}

.card-custom{
    height: 180px;
    box-shadow: var(--col-shadow);

}