body{
  background-color: rgb(26, 25, 25); 
}
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 15px;
  font-size: 35px;
  color: rgb(244, 244, 178);
}
h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
  color: rgb(244, 244, 178);
}

.holiday-container{
  background-color: rgb(64, 61, 61); 
  text-align: center;
  width: 652px;
  margin: auto;
  border: 2px solid rgb(244, 244, 178);
}
img{
  height: 300px;
  width: 650px;
  margin-right: auto;
}
.holiday-info2{
  color: rgb(244, 244, 178);
  display: flex;
  justify-content: space-evenly;
}
.holiday-buttons{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}
button{
  display: inline-block;
  border: none;
  padding: 10px 20px;
  border-radius: 20% ;
  cursor: pointer;
}