body{
  background-color: rgb(9, 33, 121) ;
}
h2{
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
  color: wheat;
}
ul{
  list-style-type: none;
}

.container-list{
  display:flex;
  justify-content: center;
  align-items: center;
}

.person-card{
  background-color: rgb(195, 224, 36) ;
  height: 90px;
  width: 650px;
  display: flex;
  justify-content: space-between;
}
.person-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
}
.person-name{
  width: 150px;
  margin-left: 2px;
}
.person-stato{
  width: 400px;
  margin-left: 10px;
}


.btn-group{
  margin: auto;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.btn{
  cursor: pointer;
  font-size: 25px;
  border: 2px solid black;
}
.btn-reset {
  background-color:rgb(14, 212, 41);
  color: white;
}
.btn-delete {
  background-color: rgb(188, 9, 9);
  color: white;
}
.icon-delete{
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
  background-color: none;
  color: rgb(188, 9, 9);
}
